@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
--primary-color:#9c89b8;
--secondary-color:#f0a6ca;
--accent1-color:#efc3e6;
--accent2-color:#b8bedd;

--heading-font:"Roboto"
--paragraph-font:Roboto, Helvetica ,sans-serif;

--nav-background-color:#00ff00;
--nav-link-color:#4c4c9d;
--nav-hover-link-color:#712f79;
--nav-hover-background-color:#f7996e;
}
body {
max-width: 960px;
margin: 0 auto;
padding: 4em;
font-size: 18px;
text-align: center;
}
h1, h2, h3, h4, h5, h6 {
font-family: var(--heading-font);
color: var(#040406);
}
header {
    padding: 20px;
    background-color: var(--secondary-color);
}
p {
    padding: 25px;
}
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color : var(--nav-link-color)
}
nav a:hover {
    
    color :var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}
