nav {
    background-colour : steelblue;
    padding: 10px;
}
nav a {
    colour: blue;
    padding: 20px;
    display: block;
}

h1 {
    color: steelblue;
}

img img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}
aside {
    width: 20em;
    margin: 1em;
    border: 1px solid rgba (0, 0, 0, 0.2)
    padding: 2px;
    background-color: #eee;
    color: #333;
    text-align: center;
}
aside img: {
    width: 200px;
    height: auto;
}
footer {
    margin-top: 1em;
    boader-top: 1px solid #000;
    text-align: center;
}
    
